@model SakuraWeb.Models.Rezervacija

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Rezervacija</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.datumRezervacije)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.datumRezervacije)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.vrijemeTermina)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.vrijemeTermina)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.otkazana)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.otkazana)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ocjena)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ocjena)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.korisnik)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.korisnik.id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.usluga)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.usluga.id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
