@model IEnumerable<SakuraWeb.Models.Rezervacija>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.datumRezervacije)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.vrijemeTermina)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.otkazana)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ocjena)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.korisnik)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.usluga)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.datumRezervacije)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.vrijemeTermina)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.otkazana)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ocjena)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.korisnik.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.usluga.id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
